<div class="individual_article">

<% @article.each do |art| %>
	<h1 class="post"><%= art['headline'] %></h1>

	<article>
		By <a href="mailto:<%=art['email']%>?Subject=Hello" target="_top"><%= art['full_name'] %></a>
		<br>
		<br>
		Created: <%= art['created_at'] %> 
		<br>
		Updated: <%= art['updated'] %>
		<br>
		<%= markdown(@article.first['body']) %>
		<br>
		Category: <%= art['name'] %>
		<br> 
		<a href="/categories">Add new category</a> 
	</article>
<br> 
<a href="/articles/<%= art['id'] %>/edit">Edit Article</a>

<% end %>


</div>

