<body class="author">

	<h1><%= @author['full_name'] %></h1>

	<dl class="author_info">
		<img class="cat" src="<%= @author['img'] %>">
		<dt>Name:</dt>
		<dd><%= @author['full_name'] %><dd>
		<br>
		<dt>Email:</dt>
		<dd><a class="email" href="mailto:<%=@author['email']%>?Subject=Hello" target="_top"><%= @author['email'] %></a><dd>
		<br>
		<dt>Articles:</dt>
		<dd><a class="article_link" href="/articles/<%=@author['article_id']%>"><%= @author['headline'] %></a></dd>
		<br>
	</dl>

</body>