<div class="category">

<%@category.each do |topic|%>

	<h1><%= topic['name'] %></h1>

	
	<a href="/articles/ <%= topic['id'] %>"><div><%= topic['headline'] %></div></a>
	<div><%= topic['summary'] %></div>

<%end%>

<form action ="/articles/<%= @delete_article['id'] %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Article">
</form>

</div>